*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav div ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

nav div ul li a{
    color: #626262;
}

nav div ul li button{
    width: 70px;
    height: 30px;
    background-color: blueviolet;
}

a{
    text-decoration: none;
}

#navsx{
    float: left;
    padding-top: 10px;
}

#navdx{
    float: right;
    padding-top: 10px;
}

nav{
    clear: both;
    display: table;
    content: "";
    width: 100%;
    height: 50px;
    background-color: brown;
}