*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* classi comuni*/
.container{
    max-width: 800px;
    margin: 0 auto;
}

.container .flex{
    padding-top: 20px;
}

.flex{
    display: flex;
    /* justify-content: center; */
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-section{
    max-width: 700px;
    margin: 0 auto;    
}

.bordi{
    border: 2px solid #ececed;
    /* gap: 20px; */
}

.bordi > *:not(span){
    margin-left: 20px;
}

/* .bordi > button{
    margin-left: 0;
} */

.gap{
    gap: 30px;
}

button{
    color: #fdfcff;
    background-color: #0061ff;
    padding: 5px 10px;
    border: 0;
}

.center-bottom{
    width: 80%;
}

.padding-bottom{
    padding-bottom: 40px;
}

.padding-top{
    padding-top: 50px;
}

.margin-top{
    margin-top: 50px;
}

.card{
    width: calc(100% / 3);
}

.card img{
    width: 100%;
}

.box{
    width: 230px;
    height: 230px;
    position: relative;
}

/* classi comuni */

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav{
    position: fixed;
    top: 0;
    z-index: 10;
}

nav div ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

nav div ul li a{
    color: #626262;
    text-decoration: none;
}

/* nav div ul li button{
    width: 70px;
    height: 30px;
} */

#navsx{
    float: left;
    padding-top: 10px;
}

#navdx{
    float: right;
    padding-top: 10px;
}

nav{
    clear: both;
    display: table;
    content: "";
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

header{
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 50px;
}

header h1{
    text-align: left;
    font-size: 3em;
    padding-top: 30px;
}

.container .flex div p{
    padding-top: 10px;
}

.container .flex div button{
    margin-top: 10px;
}

.container div:last-child{
    width: 100%;
}

.container div img{
    width: 100%;
    padding-top: 10px;
}

header .container .flex div:first-child{
    flex-basis: 40%;
}

header .container .flex div:last-child{
    flex-grow: 1;
}

main .width-section * :not(button){
    padding-top: 20px;
}

main .width-section button{
    margin-top: 20px;
}

main .width-section form label{
    margin-right: 30px;
}

#business{
    padding-top: 20px;
}

section:nth-child(2){
    padding-top: 30px;
}

.bordi > span {
    display: inline-block;
    width: 100%; 
    /* height: 30px; */
    border-bottom: 2px solid #ececed;
    text-align: center;
}

main .flex > *{
    gap: 20px;
}

section:nth-child(3){
    padding-top: 30px;
}

#section-sx{
    padding-top: 0;
    flex-basis: 70%;
}

#section-dx{
    padding-top: 0;
    flex-shrink: 30%;
}

#container-4-section-sx{
    flex-basis: 70%;
}

#container-4-section-sx img{
    width: 100%;
}

#container-4-section-dx{
   flex-basis: 30%;
} 

.flex-cards{
    display: flex;
} 

#more-padding h2, #more-padding a{
    padding-top: 50px;
}



/* box colorati */

.boxes{
    width: 100%;
}

.flex-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

article{
    width: 100%;
    margin-top: 50px;
}

#designit{
    background-color: #a2d39b;
}

#asu{
    background-color: #61082b;
}

#designit-big{
    background-color: #f5f5f5;
    flex-grow: 1;
}

#designit-big img{
    position: absolute;
    top: 50%;
    left: 30%;
}

.box blockquote{
    padding: 10px 20px;
    margin-top: -70px;
}

.box > p{
    padding-left: 20px;
}

#wbr{
    background-color: #d5001f;
}

#hearst{
    background-color: #b4d0e7;
}

#florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#designit-big-2{
    background-color: #f5f5f5;
    flex-grow: 1;
}

#lonely-planet{
    background-color: #0d2481;
}

#clear-channel{
    background-color: #ffd830;
}

#prova-gratuita{
    background-color: #b4d0e7;
    flex-grow: 1;
    padding-top: 90px;
}

.box img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button-box{
    margin-top: 0;
}

#dropbox{
    color: #640b2b;
}
/* box colorati */

hr{
    padding: 0 !important;
}

.faq > *{
    padding: 30px 30px 40px 0;
}
